.godot/
*.uid
*.import
*.log
screenshot*.png
screenshot*.jpg
right_dock*.png
right_dock*.jpg
full_*.png
full_*.png.import
after_*.png
after_*.jpg
after_*.png.import
after_*.jpg.import
chatpanel_*.png
chatpanel_*.jpg
typed_msg.png
typed_msg.png.import
input_area.png
input_area.png.import
godot_output.log
